body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  #quiz {
    margin-bottom: 20px;
  }
  
  #options {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option:hover {
    background-color: #45a049;
  }
  
  #nextButton {
    display: none;
  }
  
  #result {
    text-align: center;
    font-weight: bold;
    color: #333;
  }