body {
                                                
  color: #fff;
  overflow: hidden; /* Prevents scrollbars caused by video overflow */
}

h1, h2 {
  font-family: 'Harry Potter', sans-serif;
                                                
}

.sorter {
  font-family: 'Harry Potter', sans-serif;
  text-align: center;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Places the video behind other content */
}

.container {
 
  
  align-items: center; /* Centers children horizontally */
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(44, 39, 35, 0.8); /* Adding transparency to the container background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #ffd700; /* Hogwarts gold */
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  color: #ffd700;
}

#quiz {
  margin-bottom: 20px;
}

#questionNum {
  font-weight: bold;
  color: #ffd700;
}

#question {
  color: #fff;
}

#options {
  display: flex;
  flex-direction: column;
}

.option {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #8d5c5c; /* Slytherin green */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #4d0b03; /* Darker Slytherin green */
}

#nextButton {
  display: none;
  background-color: #ffd700; /* Hogwarts gold */
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 20px auto 0;
}



#nextButton:hover {
  background-color: #ffe166; /* Lighter Hogwarts gold */
}

#resetButton {
  display: block;
  background-color: #ffd700; /* Hogwarts gold */
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin: 20px 0 0;
}

#resetButton:hover {
  background-color: #ffe166; /* Lighter Hogwarts gold */
}

#result {
  text-align: center;
  font-weight: bold;
  color: #ffd700;
}


#houseImageContainer {
  text-align: center; /* Centers the content horizontally */
}

.selected {
  background-color: #ffc107; 
  color: #000; 
}
